# SPDX-FileCopyrightText: 2021 Malte Kliemann, Ole Kliemann
# 
# SPDX-License-Identifier: CC0-1.0

attrs==20.3.0
clang==11.0
importlib-metadata==3.0.0
iniconfig==1.1.1
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.1.2
pytest-console-scripts==1.1.0
pytest-mock==3.3.1
six==1.15.0
toml==0.10.2
zipp==3.4.0
